html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, main {
  margin: 0;
  padding: 0;
}

main ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

main li {
  text-align: center;
  background-color: #fff;
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
}

main div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > a {
  display: flex;
  background-color: #6f00e7;
  border-radius: 3em;
  padding: .5em 1.5em .7em;
}

div p {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 1.5rem;
  padding: 0;
}

li > img {
  max-width: 15rem;
  align-items: center;
}

li > p {
  font-family: Karma, serif;
  font-size: 1.4rem;
  margin: .25rem;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: .25rem;
}
